body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  height: 100vh;
}

main > article {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

main > article:first-child {
  background: #80ffd4;
  color: #7c68ee;
}

/* start - from snap scroll */

main > article > section {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #7c68ee;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

main > article > section:nth-child(odd) {
  background: #80ffd4;
}

main > article > section > div {
  font-size: 80px;
  font-weight: 700;
  color: #80ffd4
}

main > article > section:nth-child(odd) > div {
  color: #7c68ee
}

/* end - from snap scroll */

main > article > section > button {
  font-size: 80px;
  font-weight: 700;
}

main > article:nth-child(odd) {
  background: #7c68ee;
  /* color:#80ffd4 */
}

main > article {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform 400ms ease;  
}

main > article[data-status="inactive"] {
  transform: translateX(-100%);
  transition: none;
}

main > article[data-status="active"] {
  transform: translateX(0%);
}

main > article[data-status="before"] {
  transform: translateX(-100%);
}

main > article[data-status="after"] {
  transform: translateX(100%);
}

main > article[data-status="becoming-active-from-before"] {
  transform: translateX(-100%);
  transition: none;
}

main > article[data-status="becoming-active-from-after"] {
  transform: translateX(100%);
  transition: none;
}