:root {
  --background-color: #80ffd4;
  --border-color: rgb(255, 255, 255, 0.1);
  --highlight-color: rgb(126, 87, 194);
  --yt-color: rgb(229, 57, 53);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth !important; /* SCROLL UP behavior smooth */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  position: sticky;
  top: 0;
  color: #00008b;
  background: transparent;
}

nav > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 2rem;
}

.logo {
  cursor: pointer;
  padding: 0.5rem;
  justify-content: center;
  font-size: 2rem;
}

.logo:hover {
  color: orange;
  transform: scale(0.97);
}

.menu-items {
  width: 60%;
  font-size: 1.2rem;
  /* position: sticky; */
  justify-content: center;
  z-index: 2;
}

.menu-item {
  padding: 1rem;
  cursor: pointer;
}

.menu-item:hover {
  background: #00008b;
  color: #fff;
}

#nav-toggle-button { 
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  gap: 0.8rem;
  height: 100%;
  justify-content: center;
  outline: none;
  padding: 0rem 3rem;
  position: relative;
  z-index: 3;
}

main > article {
  height: 100vh; /* important */
  width: 100%; /* important */
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  position: absolute; /* important */
  transition: transform 400ms ease;  
}

/* beginning - from snap scroll */
main > article > section {
  height: 100vh; /* important*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

main > article > section > div {
  height: 100vh;
  width: 40%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  color: #000;
  border-radius: 0%;
  padding: 4rem 2rem;
  background-color: #fff;
}

.footer {
  height: 90vh;
  width: 50vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: #00008b;
  background: #F6F7F9;
  padding: 2rem;
  box-shadow: 4rem;
  border-radius: 0%;
}

/* image area  */
main > article > section > .article-image-section {
  background-image: url("images/engineers.png");
  background-size: cover;
  background-position: center;
  width: 60%;
}

/* home page gallery text  */
.gallery {
  justify-content: space-between;
}

.home-galleries {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 25%;
}

.home-gallery{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: auto;
  text-align: center;
  width: 100%;
  height: 10%;
}

/* home page gallery buttons  */
.article-div-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 15%;
  padding: 1rem;
  font-size: 1.3rem;
  cursor: pointer;
  background: #00008b;
  color: #fff;
  border-radius: 5%;
  box-shadow: 
  inset 0 -3em 3em rgba(0, 0, 0, 0.1), 
  0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.article-div-button:hover {
  background: #0564DE;
  color: #F6F7F9;
}

main > article:nth-child(odd) {
  background: #7c68ee;
}

main > article[data-status="inactive"] {
  transform: translateX(-100%);
  transition: none;
}

main > article[data-status="active"] {
  transform: translateX(0%);
}

main > article[data-status="before"] {
  transform: translateX(-100%);
}

main > article[data-status="after"] {
  transform: translateX(100%);
}

main > article[data-status="becoming-active-from-before"] {
  transform: translateX(-100%);
  transition: none;
}

main > article[data-status="becoming-active-from-after"] {
  transform: translateX(100%);
  transition: none;
}

.sticky-item {
  background: transparent;
  color: #00008b;
  position: sticky;
  position: -webkit-sticky;
  font-size: 1.5rem;
  padding: 0.6rem 0.8rem;
  border-radius: 70%;
  cursor: pointer;
  left: 95%;
  z-index: 10;
}

.sticky-item:hover {
  background: #00008b;
  color: #fff;
}

.close-button {
  top: 5%;
}

.scroll-up {
  top: 90%;
}

.paragraph-text{
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 1rem;
}

@media(max-width: 1000px) {
  nav {
    justify-content: space-between;  
    background: #00008b;
    color: #fff;
    /* z-index: 50; */
  }
  
  nav[data-toggled="true"] > .menu-items {  
    transform: translateY(0%);
  }

  nav[data-transitionable="true"] > .menu-items {
    transition: transform 400ms ease;
  }

  .logo {
    z-index: 3;
  }

  .menu-items {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: fixed;
    transform: translateY(-100%);
    background: #00008b;
    color: #fff;
    font-size: 3rem;
    top: 4rem;
  }

  #nav-toggle-button {
    display: flex;
    background: #00008b;
    color: #fff;
  }

  .gallery {
    z-index: -1;
  }

  main > article > section {
    flex-direction: column-reverse;
  }
  
  main > article > section > div {
    height: 50%;
    width: 100%;
    flex-direction: column;
    font-size: 1rem;
  }
  
  main > article > section > .article-image-section {
    height: 50%;
    /* width: auto; */
  
  }
  .footer {
    height: 45%;
    width: 45%;
    font-size: 1rem;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: column wrap;
  }

  .sticky-item{
    font-size: 1.2rem;
    padding: 0.5rem;
    z-index: 10;
  }

  .close-button {
    top: 10%;
    padding: 0.5rem 0.7rem;
  }
  
  .article-div-button {
    font-size: 1.2rem;
  }

  .paragraph-text{
    font-size: 14px;
    font-weight: normal;
  }

}
