body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  height: 100vh;
}

main > article {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #80ffd4;
  color: #7c68ee;
}

main > article > section > button {
  font-size: 80px;
  font-weight: 700;
}

main > article:nth-child(odd) {
  background: #7c68ee;
  color:#fff
}

main > article {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform 400ms ease;  
}

main > article[data-status="inactive"] {
  transform: translateX(-100%);
  transition: none;
}

main > article[data-status="active"] {
  transform: translateX(0%);
}

main > article[data-status="before"] {
  transform: translateX(-100%);
}

main > article[data-status="after"] {
  transform: translateX(100%);
}

main > article[data-status="becoming-active-from-before"] {
  transform: translateX(-100%);
  transition: none;
}

main > article[data-status="becoming-active-from-after"] {
  transform: translateX(100%);
  transition: none;
}